@import "./Variables/Variables.scss";

.main {
  padding: 2% 0 2% 6%;

  h2 {
    margin: 2rem 0;
    span {
      color: $color-yellow;
    }
  }

  &__trending-card {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;

    & > * {
      margin-right: 1rem;
    }
  }

  &__card-throwback {
    display: flex;

    & > * {
      margin-right: 2rem;
    }

    @include respond(bg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > * {
        margin-bottom: 2rem;
      }
    }
  }
}
