@import "./Variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  ul {
    display: flex;
    list-style: none;
    font-size: 1rem;

    & > * {
      margin-right: 4rem;
    }

    li {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        background-color: $color-light;
        transform-origin: middle;
        transition: transform 0.3s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: middle;
      }

      &:active:after {
        transform: scaleX(1);
        transform-origin: middle;
      }

      a:link,
      a:visited {
        color: $color-light;
        font-weight: 100;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a:hover {
        color: $color-light;
      }
    }
  }
}
